<!doctype html>

<html lang="en">
	<head>
  		<meta charset="utf-8">

  		<title><%= title %></title>
  
	</head>
	<body>
	<div id="content">
  		<p><%= subtitle %>
  		<%= text %></p>
  		<br>
  		<%= author %>
      <br>
      <%= link %>
  	</div>
	</body>
</html>